<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div class="list-group" id="folderList">
  <style>
    .active-file,.active-folder {
      background-color: #e9ecef;
      font-weight: bold;
    }
    .folder-icon {
      color: #ffc107;
    }

    .file-icon {
      color: #6c757d;
    }
    .open-folder-icon {
      color: #d39e00;
    }
    .edit-file-icon {
      color: #0d6efd;
    }
    .nested-folder {
      padding-left: 1rem;
    }
    #editor {
      border: 1px solid #ccc;

    }
  </style>
  <div>
    <a href="#headingAPI" data-frole="api" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
      <i class="bi bi-stack"></i> <span>API</span>
    </a>
    <div id="headingAPI" class="collapse nested-folder">
      <div th:each="moduleEntry : ${groupedUrls}">
        <a th:href="'#headingM'+${moduleEntry.key}" data-frole="mod" class="list-group-item list-group-item-action folder-toggle" data-bs-toggle="collapse">
          <i class="bi bi-folder folder-icon"></i>  <span th:text="${moduleEntry.key}"></span> <span class="badge badge-primary" style="background: #0d6efd" th:text="${moduleEntry.value.size()}"></span>
        </a>
        <div th:id="'headingM'+${moduleEntry.key}" class="collapse nested-folder">
          <a th:each="request : ${moduleEntry.value}" data-frole="req" href="#" class="list-group-item list-group-item-action file-item" th:name="${request.name}" th:data-file="${request.name} + '.json'">
            <i class="bi bi-file-earmark file-icon"></i> <span th:text="${request.name}"></span> <span class="badge" style="background: green;float:right" th:text="${request.method}"></span> <span class="badge" style="background: #0d6efd;float:right" th:if="${request.validate}">Validate</span> <span class="badge" style="background: darkmagenta;float:right" th:if="${!request.validate}">Mock</span>
            <br/>
            <span style="color:#888" class="badge badge-pill" th:text="${request.url}"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <a href="#headingProcessors" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
      <i class="bi bi-cpu cpu-icon"></i> <span>Processors</span>
    </a>
    <div id="headingProcessors" class="collapse nested-folder">
          <a th:each="processor : ${processors}" data-frole="processor" href="#" class="list-group-item list-group-item-action file-item" th:name="${processor}" th:data-file="${processor} + '.groovy'">
            <i class="bi bi-braces file-icon"></i> <span th:text="${processor}"></span>
          </a>
    </div>
  </div>

  <div>
    <a href="#headingSpecs" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
      <i class="bi bi-layers cpu-icon"></i> <span>API Specifications</span>
    </a>
    <div id="headingSpecs" class="collapse nested-folder">
      <a th:each="specification : ${specifications}" data-frole="spec" href="#" class="list-group-item list-group-item-action file-item" th:name="${specification}" th:data-file="${specification} + '.yaml'">
        <i class="bi bi-filetype-yml file-icon"></i> <span th:text="${specification}"></span>
      </a>
    </div>
  </div>

  <div style="margin-bottom: 25px">
    <a href="#" data-frole="log" class="list-group-item list-group-item-action" id="btnLog">
      <i class="bi bi-card-text cpu-icon"></i> <span>Logs</span>
    </a>
  </div>


  <script language="javascript">
    function initTree() {
      const folderToggles = document.querySelectorAll('.folder-toggle');
      folderToggles.forEach(folder => {
        folder.addEventListener('click', () => {
          const icon = folder.querySelector('.folder-icon, .open-folder-icon');
          if (folder.getAttribute('aria-expanded') === 'true') {
            icon.classList.replace('bi-folder', 'bi-folder2-open');
            icon.classList.replace('folder-icon', 'open-folder-icon');
          } else {
            icon.classList.replace('bi-folder2-open', 'bi-folder');
            icon.classList.replace('open-folder-icon', 'folder-icon');
          }
        });
      });

      const fileItems = document.querySelectorAll('.file-item');
      const fileTitle = document.getElementById('fileTitle');
      const fileContent = document.getElementById('fileContent');
      const folderItems = document.querySelectorAll('.folder-toggle');

      fileItems.forEach(item => {
        item.addEventListener('click', (e) => {
          e.preventDefault();
          closeLogs();
          fileItems.forEach(file => {
            file.classList.remove('active-file');
            const icon = file.querySelector('.file-icon, .edit-file-icon');
            icon.classList.replace('bi-pencil-square', 'bi-file-earmark');
            icon.classList.replace('edit-file-icon', 'file-icon');
          });
          item.classList.add('active-file');
          const icon = item.querySelector('.file-icon');
          icon.classList.replace('bi-file-earmark', 'bi-pencil-square');
          icon.classList.replace('file-icon', 'edit-file-icon');
          const requestName = item.name;
          let endPoint
          let frole = item.dataset.frole;

          switch (item.dataset.frole){
            case "req":
              endPoint = `/MOCKER/MANAGE/REQUEST/GET/V2/${requestName}`;
                  break;
            case "processor":
              endPoint = `/MOCKER/MANAGE/PROCESSOR/${requestName}`;
                  break;
            case "spec":
              endPoint = `/MOCKER/MANAGE/SPEC/${requestName}`
                  break;
          }
          fetch(endPoint)
            .then(response => {
              if (!response.ok) {
                throw new Error(`Error fetching file: ${response.status}`);
              }
              return response.text();
            })
            .then(content => {
              document.querySelector("#main-content").innerHTML = content;
              let scripts = document.querySelector("#main-content").getElementsByTagName('script');
              for (let script of scripts) {
                let existingScript = document.querySelector(`script[data-src="rq_${frole}"]`);
                if (existingScript) {
                  existingScript.remove();
                }
                let newScript = document.createElement('script');
                newScript.type = 'text/javascript';
                newScript.text = script.innerHTML;
                newScript.setAttribute('data-src', `rq_${frole}`)
                document.body.appendChild(newScript); // Append the script to the body to execute it
              }
            })
            .catch(error => {
              createToast({title:"Error",message: `Error loading ${requestName}`,type:"danger"});
            });

        });
      });

      folderItems.forEach(item => {
        item.addEventListener('click', (e) => {
          e.preventDefault();
          const folderName = item.dataset.folder;
          const typeF = item.dataset.frole;
          // Update UI for selected folder
          folderItems.forEach(folder => {
            folder.classList.remove('active-folder');
            const icon = folder.querySelector('.folder-icon, .open-folder-icon');
            icon.classList.replace('bi-folder2-open', 'bi-folder2');
            icon.classList.replace('open-folder-icon', 'folder-icon');
          });

          item.classList.add('active-folder');
          const icon = item.querySelector('.folder-icon');
          icon.classList.replace('bi-folder2', 'bi-folder2-open');
          icon.classList.replace('folder-icon', 'open-folder-icon');
        });
      });

      document.querySelector("#btnLog").addEventListener("click",e=>{
        showLogs();
      })
    }
    initTree();
  </script>
</div>